body::before{
    display: block;
    content: '';
    height: 60px;
}

.input-gp{
    width: 55%;
}
@media (max-width: 576px){
    .input-gp{
        width: 100%;
    }
      
}

@media (max-width: 768px){
    .input-gp{
        width: 100%;
    }
      
}
.list-item{
    list-style:none;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}